body {
  background-color: hsl(30, 38%, 92%);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(228, 12%, 48%);
}
h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  margin-bottom: 40px;
}
.p1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
  margin-right: 15px;
}
.p2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

button {
  background: hsl(158, 36%, 37%);
  color: white;
  border: 1px hsl(158, 36%, 37%) solid;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
}

button:hover {
  color: hsl(158, 36%, 37%);
  background-color: white;
  border: 1px hsl(158, 36%, 37%) solid;
}

.price {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}
.secondchild {
  background: hsl(0, 0%, 100%);
  padding: 15px 30px 15px 15px;
  border-radius: 0px 5px 5px 0px;
}
.first {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px 0px 0px 5px;
}
.container {
  height: auto;
  width: 600px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.rt {
  margin-left: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 675px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }
  .first {
    object-fit: fill;
  }
}
